.navbar{
    background-color:transparent;
    width:  px;
}
body{

    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size:    1369px;
}
.magician{
                    position: absolute;
                padding-top:    2%;
                padding-left:   27%;
}
.magicsarap2{
      padding-top:    25%;
      padding-left:   25%;
    

}
.magicsarap3{
     
      padding-left:   13%;
    

}
.magicsarapacontainer1{
    height: 500px;
    width: 1369px;
    background-color: rgba(  196,196,196,1);
}
.magicsarapacontainer2{
    
    height: 872px;
    width: 1369px;
    background-color: rgba(  196,196,196,1);
}
.magicginisa{
    margin-left: 19%;
    padding-top: 15%;
    padding-left: 10%;
    font-family: Roboto;
    color:rgba(206,100,100,1);
    font-size: 60px;
}
.paraghrap1{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 17%;
}
.magicginisa1{
    margin-left: 19%;
    padding-top: 10%;
    padding-left: 10%;
    font-family: Roboto;
    color:black;
    font-weight: bold;
    font-size: 60px;
}
.magicsarapacontainer3{
    
    height: 1000px;
    width: 1369px;
    background-color: rgb(233,201,201);
}

.row{
    background-color:   rgba(  196,196,196,1);
    width:  1369px;
    height:     100px;

}
.magiccanton{
    padding: 5%;
    margin-top: 2.5%;
    margin-left: 40%;
}












