<template>
  <div class="navbar" id="app">
      <header class="HEAD">
	
   <div class="dropdown">
  <button class="dropbtn">.....</button>
  <div class="dropdown-content">
    <a href="#">Log Out</a>
      </div>
</div>
	</header>
     
   </div>
  
</template>
<script>
export default {
  
}
</script>
<style>
.dropbtn {
  background-color:transparent;
  background-image: url(../assets/images/icon.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  top:60px;
  left:1200px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}
</style>