<template>
  <div>
    <div class="sidebar">
       <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
    <img class="logo" src="../assets/images/logo.png" width="303px">
           <br><br><br><br><br><br>
    
      <ul class="list-unstyled components mb-5">
     <router-link to="/" exact class="element-container ">

           <li class="active1">
                  <a href="#"><span><img src="../assets/images/dash.png" width="60px" height="60px"></span> Dashboard</a>
                </li>
        
      </router-link>
      <router-link to="/Patron" class="">
      
          <li class="active">
            <a href="PatronManagement.html"><span><img src="../assets/images/user.png" width="60px" height="50px"></span> Patron Management
            </a>
            </li>
        
      </router-link>
      <router-link to="/Book" class="">
        
        <li class="active3">
             <a href="BookManagement.html"><span><img src="../assets/images/bookm.png" width="60px" height="60px"></span> Book Management</a>
            </li>
         </router-link>
      <router-link to="/Settings" class="">
      
             <li class="active4">
            <a href="Settings.html"><span><img src="../assets/images/setting.png" width="60px" height="60px"></span> Settings</a>
            </li>
                  
      </router-link>
    </ul>
      </nav>
    </div>
    </div>
  </div>
</template>
<script>
export default {
     
};
</script>
<style>
.icons{
  margin-left:-10px;
}
.logo{
  position:absolute;
}
</style>