<template>
  <div>
    <canvas id="barChart" width="280" height="200"></canvas>
  </div>
</template>
<script>
import Chart from "chart.js";

export default {
  name: "App",
  components: {},
  mounted: function() {
    var ctx = document.getElementById("barChart").getContext("2d");
    new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['January',  'March',  'May', 'July'],
          datasets: [
            
            {
              label: "Borrowed Books",
              data: [7, 10, 13, 6],
              backgroundColor: "rgba(91, 91, 131,8)",
            },
            {
              label: "Returned Books",
              data: [4, 7, 10, 11, 8, 8],
              backgroundColor: "rgba(154, 179, 245, .8)",
            },
          ],
        },

      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
  },
};</script>