<template>
  <div>
    <canvas id="pieChart" width="280" height="200"></canvas>
  </div>
</template>
<script>
import Chart from "chart.js";

export default {
  name: "App",
  components: {},
  mounted: function() {
    //  piechart chart
    var ctx = document.getElementById("pieChart").getContext("2d");
    new Chart(ctx, {
      type: "doughnut",
        data: {
          datasets: [
            {
              data: [10, 20, 30, 20],
              backgroundColor: [
                "rgb(52, 152, 219, .8)",
                "rgba(154, 179, 245, .8)",
                "rgba(27, 206, 230, .8)",
                "rgba(27, 64, 230, .8)",
                
              ],
            },
          ],

          labels: [
					
					'Love',
					'Mystery',
					'Romance',
					'History'
				],
        },
      options: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    });
  },
};</script>