.modal-dialog{
  width: 350px;

}
.modal-body{
  background-color: rgb(10,39,113);

}
.modal-header{
  text-align: center;
  background-color: rgb(10,39,113);
  border:none;
}
.form-group{
  font-weight: bolder;
}
.modaltitle{
  text-align: center;
}

.HEAD{
  width: 1350px;
  height: 75px;
  background-color: rgb(10,39,113);
}
.log{
  float:right ;
  margin-right:   10px;
  margin-top:25px;
  border:none;
  background-color:   red;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  /*  ------------- background color    */
  background-color: #FFFF; 
  /*  -------------                     */
}

.row{
  height: 1400px;
  width: ;
  background-color: #ffff;
}
.column{
  width: 50%;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;

  /*  ------------- background color    */
  background: rgb(10,39,113);
  /*  -------------                     */
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.background-img{
	/*  ------------- background color    */
 background-color:rgb(10,39,113);
 width:   0;
 height:  0;
 	/*  -------------                    */
}

.search-box{
  float:right;
}

#overlay{
  position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}
  


