.modal-dialog{
  width: 350px;

}
.modal-body{
  background-color: rgb(10,39,113);

}

.modal-header{
  text-align: center;
  background-color: rgb(10,39,113);
  border:none;
}
.form-group{
  font-weight: bolder;
}
.modaltitle{
  text-align: center;
}

.HEAD{
  position: absolute;
  
  width: 1350px;
 
  left:0px;
 
  height: 133px;
  background-color: rgb(10,39,113);
}

.logs{
  border:none;
  background-color:   red;
  position: absolute;
  right:10px;
  top:20px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  
  /*  ------------- background color    */
  background-color: #FFFF; 
  /*  -------------                     */
}

.containerrr{
 width:900px;
 height:900px;
 background-color: black;
 position: absolute;
}
.wallpape{
  width: 900px;
  height:300px;
  
  
    top:42px;
    left:363px;
    position: absolute;
    
}

.row
.column{
  width: 50%;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  height:657px;

  /*  ------------- background color    */
  background: rgb(10,39,113);
  /*  -------------                     */
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.background-img{
	/*  ------------- background color    */
 background-color:rgb(10,39,113);
 width:   0;
 height:  0;
 	/*  -------------                    */
}

.search-box{
  float:right;
}

#overlay{
  position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}
.btndegiss{
  position: absolute;
  top:-50px;
}
.container{
  position:absolute;
  top:200px;
  left:300px;
  background-color:white;
}
.containerrrr{
  width:1000px;
  position:absolute;
  left:320px;
  top:260px;
}
.containtable{
  height: 300px;
  width: 800px;
  top:50px;
  position:absolute;
  
  
}
.containerinside{
  background-color: white;
  width:1000px;
  top:150px;
  left:350px;
  position: absolute;
}
.form-design{
  float:right;
  width:350px;
}
table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.td1 {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);

}