<template>
  <div>
    <div>
      <div class="contador">
      <div class="containerrrr">
           <div class="row mt-3">
           <a href="#" class="titles dropdown-toogle" data-toogle="dropdown"> <b class="caret"></b></a>
            <div class="col-lg-6">
              <button href="" class="btndegiss btn btn-dark" @click="FormReset()" v-b-modal.AddBook ><img class="addicon" src ="./../assets/images/ss.png" width="70px" height="50px"> &nbsp;&nbsp;Add Book</button>
            </div>
            <div class="col-lg-6">
 
            </div>
        </div>
        <hr class="bg-dark">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover  mt-5">
              <thead class="design">
                <tr>
                   <th>Book Name</th>
                    <th>Author</th>
                    <th>Copies Available</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Borrow</th>
                    <th>Return</th>
                </tr>
              </thead>
                <transition-group
                  tag="tbody"
                  name="BookTable"
                  v-if="!LoadingStatus"
                >
                  <tr v-for="Book in BookModelFilter" :key="Book.id">
                    <td v-html="highlightMatches(Book.name)"> {{ Book.name }} </td>
                    <td v-html="highlightMatches(Book.author)"> {{ Book.author }} </td>
                    <td> {{ Book.copies }} </td>
                    <td v-html="highlightMatches(Book.category.category)"> {{ Book.category.category }} </td>
                    <td class="text-center">
                    <button class="btn-no-border">
                      <img src="@/assets/images/edit.png"  width="30px" height="30px" @click.prevent=" FormReset(); BookForm = Book;" v-b-modal.UpdateBook/>
                    </button>
                    </td>
                    <td class="text-center">
                    <b-button class="btn-no-border">
                      <img src="@/assets/images/trash.png" width="30px" height="30px"  @click.prevent="Selected = Book" v-b-modal.DeleteModal />
                    </b-button>
                    </td>
                    <td class="text-center" >
                    <button class="btn-no-border">
                        <img src="@/assets/images/borrow.png" width="30px" height="30px" v-b-modal.BorrowBook @click.prevent=" FormReset(); BorrowReturnForm.book_id = Book.id; Selected = Book; BorrowerPatrons(AllPatrons);"/>
                      </button>
                      </td>
                    <td class="text-center">
                      <button class="btn-no-border">
                        <img src="@/assets/images/return.png" width="30px" height="30px"  @click=" FormReset(); BorrowReturnForm.book_id = Book.id; Selected = Book; BorrowerPatrons(AllBorrowedBook);
                          "
                          v-b-modal.ReturnBook
                        />
                      </button>
                    </td>
                  </tr>
                </transition-group>
            </table>
          </div>
        </div>
      </div>
    </div>
      <div class="container pt-4">
        <div class="row">
          <div class="clss col-md-12">
            <div class="float-right ">
              <input placeholder="Search Item here" type="text" class="line-search-bar" name="search" id="search" v-model="Search" />
              <i class="fa fa-search fa-lg pl-2" aria-hidden="true"></i>
            </div>
            <div class="text-center mb-2">
              <b-spinner v-if="LoadingStatus"> </b-spinner>
            </div>
          </div>
        </div>
    
    </div>
       <!-- ADD -->
          <b-modal id="AddBook" title="Add Books" hide-footer centered ref="modal" modal-header>
            <form class="modal-body p-4">
              <b-form-group>
                <label for="BookName" >Name</label>
                <b-form-input id="BookName" required v-model="BookForm.name" class="form-control form-control-lg" placeholder="Book Name " ></b-form-input>
                <label for="BookAuthor" >Author</label>
                <b-form-input id="BookAuthor" required v-model="BookForm.author" class="form-control form-control-lg" placeholder="Book Author " ></b-form-input>
                <label for="BookCopies" >Copies</label>
                <b-form-input id="BookCopies" type="number" required v-model="BookForm.copies" class="form-control form-control-lg"  placeholder="Number of Copies"
                ></b-form-input>
                <label for="BookCopies" >Category</label>
                <b-form-select v-model="BookForm.category_id"> <b-form-select-option v-for="Category in AllCategories" :key="Category.id" :value="Category.id" >{{ Category.category }}.</b-form-select-option>
                  
                </b-form-select>
                 <button type="button" class="btndesigns btn btn-dark btn-block btn-lg" @click="AddBook" >Add Book</button>
               
              </b-form-group>
            </form>
              <template #modal-footer class="float-right">
               </template>
          </b-modal>
           <!-- Update -->
          <b-modal id="UpdateBook" title="Update Books" hide-footer centered ref="modal">
            <form class="modal-body p-4">
              <b-form-group> 
                <label for="BookName">Name</label>
                <b-form-input id="BookName" required v-model="BookForm.name" placeholder="Book Name " class="form-control form-control-lg"></b-form-input>
                <label for="BookAuthor" >Author</label>
                <b-form-input id="BookAuthor" required v-model="BookForm.author" placeholder="Book Author " class="form-control form-control-lg"></b-form-input>
                <label for="BookCopies">Copies</label> 
                <b-form-input id="BookCopies" type="number" required v-model="BookForm.copies" placeholder="Number of Copies" class="form-control form-control-lg"></b-form-input>
                <label for="BookCopies">Category</label>
                <b-form-select v-model="BookForm.category_id"> <b-form-select-option v-for="Category in AllCategories" :key="Category.id" :value="Category.id">{{ Category.category }}.</b-form-select-option>
                </b-form-select>
               <button type="button" class="btndesigns btn btn-dark btn-block btn-lg" @click="UpdateBook()">Update Book</button>
              
              </b-form-group>
            </form>
              <template #modal-footer class="float-right">
               </template>
          </b-modal>
           <!-- DELETE -->
          <b-modal size="300px" hide-header id="DeleteModal" centered ref="modal">
            <h4 class="text-center">Are you sure you want to delete this?</h4>
              <template #modal-footer class="float-right">
                <div class="w-100 float-right">
                  <button type="button" class="promptt btn btn-success" data-dismiss="modal" block @click.prevent="RemoveBook(Selected)">Yes</button>
                  <button type="button" class="promptt btn btn-danger mr-2" block @click="$bvModal.hide('DeleteModal')">Close</button>
                </div>
              </template>
          </b-modal>
           <!-- BorrowModal -->
          <b-modal id="BorrowBook" title="Borrow Books" hide-footer centered ref="modal" modal-header >
            <form class="modal-body p-4">
              <b-form-group>
                <label for="BookName" class="mt-3 req">Book Name</label>
                <b-form-input id="BookName" required v-model="Selected.name" disabled placeholder="Book Name "  ></b-form-input> 
                <label for="BookCopies" class="mt-3 req">Copies</label>
                <b-form-input id="BookCopies" type="number" required v-model="BorrowReturnForm.copies" placeholder="Number of Copies"></b-form-input>
                <label for="BookCopies" class="mt-3 req">Patron Name</label>
                <v-select title="Patron Name" :options="PatronInfo" :reduce="(PatronInfo) => PatronInfo.id" :label="PatronInfo.label" v-model="BorrowReturnForm.patron_id" />
               <button type="button" class="btndesignsss btn btn-dark btn-block btn-lg" @click="AddBorrowedBook" > Borrow Book</button>
              
              </b-form-group>
            </form>
              <template #modal-footer class="float-right">
              
              </template>
          </b-modal>
           <!-- Return -->
        <b-modal id="ReturnBook" title="Return Books" hide-footer centered ref="modal" modal-header >
          <form class="modal-body p-4">
            <b-form-group>
              <label for="BookName" class="mt-3 req">Book Name</label>
              <b-form-input id="BookName" required v-model="Selected.name" disabled placeholder="Book Name " ></b-form-input> 
              <label for="BookCopies" class="mt-3 req">Copies</label>
              <b-form-input id="BookCopies" type="number" required v-model="BorrowReturnForm.copies" placeholder="Number of Copies" ></b-form-input>
              <label for="BookCopies" class="mt-3 req">Patron Name</label>
              <v-select title="Patron Name" :options="PatronInfo" :reduce="(PatronInfo) => PatronInfo.id" :label="PatronInfo.label" v-model="BorrowReturnForm.patron_id"/>
           <button type="button" class="btndesignsss btn btn-dark btn-block btn-lg" @click="ReturnedBook" > Returned Book </button>
           
            </b-form-group>
          </form>
            <template #modal-footer class="float-right">
              </template>
        </b-modal>
  </div>
</div>
</template>
<script src="./../assets/js/bookscript.js"></script>
<script>
import bookscript from './../assets/js/bookscript'
export default bookscript;
</script>
<style scoped>
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btndesigns{
  margin-top:20px;
}
.container{
  background-color: transparent;
}
.main-content{
  background-color: transparent;
}
.line-search-bar{
  position:absolute;
  right:125px;
  top:30px;
}

</style>
