<!--<template>
  <div class="column1 p-4">
         
           </div>
        <div class="column2">
        
        </div>
  

</template> -->
<template>
  <div id="app">
   
        
        <div class="column1 p-4">
         <BarChart />    
        </div>
        <div class="column2">
          <PieChart />
        </div>
    
  </div>
</template>

<script>
import BarChart from "./../components/charts/BarChart";
import PieChart from "./../components/charts/PieChart";
export default {
  components: {
    BarChart,
    PieChart,
  },
};
</script>
<style>
.column1{
  width:500px;
  position:absolute;
  background-color:pink;
  height:300px;
  top:200px;
  left:310px;
}
.column2{
  width:500px;
  position:absolute;
  background-color:pink;
  height:300px;
  top:200px;
  left:830px;
}
</style>