<template>
  <div>
    <div class="contador">
      <div class="containerrrr">
      

        <div class="row mt-3">
           <a href="#" class="titles dropdown-toogle" data-toogle="dropdown"> <b class="caret"></b></a>
            <div class="col-lg-6">
             <button  class="btndegiss btn btn-dark" v-b-modal.AddPatron @click="$bvModal.show('AddPatron')"><img class="addicon" src ="./../assets/images/ss.png" width="70px" height="50px">
           &nbsp;&nbsp;Add Patron</button>
            </div>
            <div class="col-lg-6">
          
            </div>
        </div>
        <hr class="bg-dark">
         <div class="row">
          <div class="col-lg-12">
             <table class="table  ">
              <thead class="design">
                <tr class="text-center text-dark">
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Date Registered</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
              </thead>
                <transition-group tag="tbody" name="PatronTable" v-if="!LoadingStatus">
                  <tr v-for="Patron in PatronFormFilter" :key="Patron.id">
                    <td v-html=" highlightMatches( [Patron.first_name,Patron.middle_name,Patron.last_name,].join(' '))">
                      {{
                        Patron.first_name +" " +Patron.middle_name +" " +Patron.last_name
                      }}
                    </td>
                    <td v-html="highlightMatches(Patron.email)">
                      {{ Patron.email }}
                    </td>
                    <td>
                      {{ Patron.created_at | moment("MMMM DD, YYYY") }}
                    </td>
                    <td class="text-center">
                      <a href="#" > <img src="./../assets/images/edit.png"  width="30px" height="30px" @click.prevent=" FormReset(); PatronForm = Patron; " v-b-modal.UpdatePatron></a>
                    </td>
                    <td class="text-center">
                      <a href="#" @click.prevent=" FormReset(); Selected = Patron; " v-b-modal.DeleteModal >
                        <img src="./../assets/images/trash.png"  width="30px" height="30px">
                      </a>
                    </td>  
                  </tr>
                </transition-group>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="container pt-4">
        <div class="row">
          <div class="clss col-md-12">
            <div class="float-right">
              <input placeholder="Search Item here" type="text" class="line-search-bar" name="search" id="search" v-model="Search" />
              <i class="fa fa-search fa-lg pl-2" aria-hidden="true"></i>
            </div>
            <div class="text-center mb-2">
              <b-spinner v-if="LoadingStatus"> </b-spinner>
            </div>
          </div>
        </div>

      </div>
           <!-- Add Modal -->
        <b-modal id="AddPatron" title="Add Patron" centered hide-footer modal-header ref="modal">
          <form class="modal-body p-4">
            <b-form-group>
              <label for="PatronFirstName">First Name:</label>
              <b-form-input id="PatronFirstName" v-model="PatronForm.first_name"  placeholder="First Name " class="form-control form-control-lg" ></b-form-input>
              <label for="PatronMiddleName" >Middle Name:</label>
              <b-form-input id="PatronMiddleName"  v-model="PatronForm.middle_name" placeholder="Middle Name " class="form-control form-control-lg"></b-form-input> 
              <label for="PatronLastName" >Last Name:</label>
              <b-form-input id="PatronLastName" v-model="PatronForm.last_name" placeholder="Last Name" class="form-control form-control-lg"></b-form-input> 
              <label for="PatronEmail">Email Address:</label>
              <b-form-input id="PatronEmail" v-model="PatronForm.email" placeholder="Email Address" class="form-control form-control-lg"></b-form-input> 
                <button type="button" class="btndesigns btn btn-dark btn-block btn-lg " @click="AddPatron" >Add Patron</button>
              
            </b-form-group>
          </form>
            <template #modal-footer class="float-right">
             
            </template>
        </b-modal>

        <!-- UpdatePatron -->
        <b-modal id="UpdatePatron" title="Update Patron" centered  hide-footer  ref="modal">
        <form class="modal-body p-4">
              <b-form-group>
              <label for="PatronFirstName">First Name:</label>
              <b-form-input id="PatronFirstName" v-model="PatronForm.first_name" class="form-control form-control-lg" placeholder="First Name "></b-form-input>
              <label for="PatronMiddleName">Middle Name:</label>
              <b-form-input id="PatronMiddleName" v-model="PatronForm.middle_name" class="form-control form-control-lg" placeholder="Middle Name "  ></b-form-input> 
              <label for="PatronLastName">Last Name:</label>
              <b-form-input id="PatronLastName" v-model="PatronForm.last_name" class="form-control form-control-lg" placeholder="Last Name " ></b-form-input>
              <label for="PatronEmail" >Email Address:</label>
              <b-form-input id="PatronEmail" v-model="PatronForm.email" class="form-control form-control-lg" placeholder="Email Address"></b-form-input>
             <button type="button" class="btndesigns btn btn-dark btn-block btn-lg" @click="UpdatePatron()">Update Patron</button>
             
            </b-form-group>
            
            </form>
            <template #modal-footer class="float-right">
            </template>
        </b-modal>
        <!-- DeleteModal -->
        <b-modal  size="300px" hide-header id="DeleteModal" centered ref="modal">
          <h3 class="text-center">Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="promptt btn btn-success " data-dismiss="modal" block @click="DeletePatron(Selected)">Yes</button>
              <button type="button" class="promptt btn btn-danger mr-2" block @click="$bvModal.hide('DeleteModal')">Close</button>
            </div>
          </template>
        </b-modal>
    </div>
  </div>
</template>
<script src="./../assets/js/patronscript.js"></script>
<script>
import patronscript from './../assets/js/patronscript'
export default patronscript;
</script>
<style scoped>
.btndesigns{
  margin-top:20px;
}
.container{
  background-color: transparent;
}
.main-content{
  background-color: transparent;
}
.line-search-bar{
  position:absolute;
  right:125px;
  top:30px;
}
</style>
